<!DOCTYPE html>
<html lang="en">
    <!-- Navbar (sit on top) -->
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>

    <div class="edit-container">
        <h2 class="edit-h2"><i class="fas fa-utensils"></i> Editando el producto: <%=product.product_name%> </h2>
        <form action="/products/edit/<%=product.product_id%>?_method=PUT" method="POST" enctype = "multipart/form-data">

            <div class="edit-fila">
                <div class="edit-etiqueta">
                    <label for="product_name" class="edit-label">Nombre:</label>
                </div>
                <div class="edit-campo">
                    <input type="text" id="product_name" name="product_name" placeholder="<%=product.product_name%>" class="edit-input">
                </div>
            </div>

            <div class="edit-fila">
                <div class="edit-etiqueta">
                    <label for="product_price" class="edit-label">Precio:</label>
                </div>
                <div class="edit-campo">
                    <input type="number" id="product_price" name="product_price" placeholder="<%=product.product_price%>" class="edit-input">
                </div>
            </div>

            <div class="edit-fila">
                <div class="edit-etiqueta">
                    <label for="product_description" class="edit-label">Descipción:</label>
                </div>
                <div class="edit-campo">
                    <textarea name="product_description" id="product_description" placeholder="<%=product.product_description%>" class="edit-textarea"></textarea>
                </div>

            </div>

            <div class="edit-fila">
                <div class="edit-etiqueta">
                    <label for="category" class="edit-label">Categoría:</label>
                </div>
                <div class="edit-campo">
                    <select name="category" id="category" class="edit-input">
                        <option value="<%=product.category%>"> <%=product.category%></option>
                        <option value="salados">Salados</option>
                        <option value="dulces">Dulces</option>
                        <option value="especiales">Especialidades</option>
                        <option value="postres">Postres</option>
                    </select>
                </div>
            </div>
            
            <div class="edit-fila">
                <div class="edit-etiqueta">
                    <label for="productImage" class="edit-label">Imagen del producto:</label>
                </div>
                <div class="edit-campo">
                    <input type="file" name="productImage" id="productImage" class="edit-file">
                </div>
            </div>

            <div class="fila-botones">
                <button class="edit-botones" type="submit">Actualizar producto</button>
                <button class="edit-botones" type="reset">Reestablecer</button>
            </div>

        </form>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>   
</body>
</html>