<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head'); %>
<!-- head -->

<body>

<!-- header -->
<%- include('../partials/headerLoginRegister'); %>
<!-- header -->
<main>

    <div class="register-box">
        <img src="/images/logoSinFondo.png" alt="" class="avatar">
        <h1>Editar Información</h1>
        <% if (locals.errors) { %>
            <% for( let oneError in errors ) { %>
                <p class="logRegError"><%= errors[oneError].msg  %> </p>
            <% } %>
        <% } %>

        <form action="/users/edit?_method=PUT" method="POST" enctype = "multipart/form-data">

            <% if (locals.oldData && oldData.name) { %>
                <input type="text" name="name" placeholder="Nombre" value="<%= oldData.name %> ">
            <% } else { %>
                <input type="text" name="name" value="<%=user.nombre%>" >
            <% } %>

            <% if (locals.oldData && oldData.password) { %>
                <input type="password" name="password" placeholder="Contraseña" value="<%= oldData.password %> ">
            <% } else { %>
                <input type="password" name="password" placeholder="Contraseña" >
            <% } %>

            <label for="profile-image">Imagen de perfil</label>
            <input type="file" name="avatar" id="avatar" class="profile-image" >
            
            <input type="submit" value="Editar">
        </form>
    </div>
    <section class="bloque-compensacion-2"></section>
    
</main>
 <!-- Footer -->
 <%- include('../partials/footer'); %>

</body>
</html>