<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head'); %>
<!-- head -->

<body>

<!-- header -->
<%- include('../partials/headerLoginRegister'); %>
<!-- header -->
<main>
    <div>
        <h1>Hola <%= user.name %> </h1>
        <h2><%= user.email %> </h2>
        <img src="/images/avatars/<%= user.avatar_nombre%> " alt="profile-image" height="300px">
        <a href="/users/logout">Logout</a>
    </div>
    <section class="bloque-compensacion-2"></section>
</main>
 <!-- Footer -->
 <%- include('../partials/footer'); %>
</body>
</html>