<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head'); %>
<!-- head -->

<body>

<!-- header -->
<%- include('../partials/headerLoginRegister'); %>
<!-- header -->
<main class="profileContainer">

    <div>
        <h1>Hola <%= user.nombre %> </h1>
        <h2><%= user.email %> </h2>
        <img src="/images/avatars/<%= user.avatar_nombre%> " alt="profile-image" height="300px">
    </div>


    <div>
        <a href="/users/logout">Logout</a>
    </div>

    <div>
        <a href="/users/edit">Editar</a>
    </div>

    <section class="bloque-compensacion-2"></section>
    
</main>
 <!-- Footer -->
 <%- include('../partials/footer'); %>
</body>
</html>