<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head'); %>
<!-- head -->

<body>

<!-- header -->
<%- include('../partials/headerLoginRegister'); %>
<!-- header -->
<main class="profileContainer">

    <div class="profilePart1">
        <h1>Perfil de usuario</h1>
        <img src="/images/avatars/<%= user.avatar_nombre%> " alt="profile-image" height="300px">
    </div>

    <div class="profilePart2">

        <div>
            <h2>EMAIL:</h2>
            <h3><%= user.email %> </h3>
            <br>
            <h2>Usuario</h2>
            <h3><%= user.nombre %></h3>
        </div>

        <div>
            <a href="/users/logout">Logout</a>
            <a href="/users/edit">Editar</a>
        </div>

    </div>
    
    <section class="bloque-compensacion-2"></section>
    
</main>
 <!-- Footer -->
 <%- include('../partials/footer'); %>
</body>
</html>