<!DOCTYPE html>
<html lang="en">
    <!-- Navbar (sit on top) -->
    <%- include('../partials/head'); %>
<body>
	<!-- /Header -->
    <%- include('../partials/header'); %>
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%=product.nombre%></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/products/<%=product.imagen_nombre%>" alt="<%=product.nombre%>" class="product-detail-img">
					<p class="product-detail-description">
						<%=product.descripcion%>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%=product.nombre%></h2>
							<p class="product-detail-price">
								$<%=toThousand(product.precio)%>
							</p>
		
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá con tarjeta o efectivo</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Puedes recoger en tienda o te lo llevamos a domicilio</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>
						<% if (locals.userLogged) { %>
							<a href="/products/edit/<%=product.id%>" class="action-button edit">EDITAR PRODUCTO</a>
							<form id="deleteProduct" action="/products/delete/<%=product.id%>?_method=DELETE" method="POST" style="display: inline-flex">
								<button type="submit" class="action-button delete">ELIMINAR</button>
							</form>
						<% } %>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('../partials/footer'); %>   
	<!-- /footer -->
<script src="/script/scriptDetail.js"></script>
</body>	
</html>